.flexRow {
  display: flex;
  flex-direction: row;
}

.flexColumn {
  display: flex;
  flex-direction: column;
}

.gap {
  gap: 40px;
}

.marginTopSkale {
  margin-top: 40px;
}

.headerContainer {
  position: relative;
  top: 200px;
  align-self: center;
  width: 1000px;
  margin: 0 auto;
}

.mainHeader {
  position: relative;
  top: -260px;
  align-items: center;
  display: flex;
  flex-direction: column;
  align-items: baseline;
}

.mainTitle {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 46px;
  line-height: 120%;
  display: flex;
  color: #ffffff;
  text-shadow: 0px 4px 16px rgba(0, 0, 0, 0.25);
  width: 680px;
  height: 165px;
}

.secondTitle {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 29px;
  text-shadow: 0px 4px 16px rgba(0, 0, 0, 0.12);
}

.mainImgHeader {
  width: 356px;
  height: 313px;
  margin: 0 !important;
}

.titleMargin {
  margin-top: 28px;
  margin-bottom: 24px;
}

.divContainer {
  display: flex;
  flex-direction: row;
  margin: 0 auto;
  padding-bottom: 24px;
  width: 1000px;
}

.overviewContainer {
  display: flex;
  position: relative;
  flex-direction: row;
  margin: 0 auto;
  margin-top: -185px;
  margin-bottom: 24px;
  padding: 0px;
  width: 1000px;
  height: 471px;
  z-index: 3;
}

.projectOverview {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 50px 60px 0px;
  gap: 34px;

  width: 500px;
  height: 471px;

  background: #ffffff;
  border: 1px solid #ebecef;
  border-radius: 20px 0px 0px 20px;
}

.overviewImg {
  display: flex;
  width: 500px;
  height: 471px;
  background: #121415;
  border-radius: 0px 20px 20px 0px;
  background-image: url("/assets/img/skale\ case\ study/overwiev.png");
  background-size: cover;
  justify-content: center;
  align-items: center;
}

.overviewImg:hover .playBtn {
  transition: all 0.2s ease-in-out;
  transform: scale(1.2);
}

.playBtn {
  align-self: center;
  width: 59px;
  height: 59px;
}
.overviewTitle {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 119%;
  display: flex;
  align-items: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #0e1220;
  opacity: 0.6;
}

.overviewP {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 17px;
  line-height: 180%;
  color: #000000;
  opacity: 0.9;
  margin: 0 !important;
}

.overviewLink {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 17px;
  line-height: 180%;
  color: #1a45dd;
}

.overviewLabel {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 119%;
  display: flex;
  align-items: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #0e1220;
  opacity: 0.6;
}

.logoImg {
  width: 150.72px;
  height: 36px;
}

.blackBox {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 40px 60px;
  gap: 20px;
  width: 1000px;
  height: auto;
  background: linear-gradient(71.41deg, #010508 57.78%, #4dc9b1 166.17%);
  border-radius: 20px;
}

.whiteBox {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 40px 60px;
  gap: 20px;
  width: 1000px;
  height: auto;
  background: #ffffff;
  border: 1px solid #ebecef;
  border-radius: 20px;
}

.redBox {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 33px 36px;
  gap: 24px;
  width: 1000px;
  height: 277px;
  background: #d20f4a;
  border-radius: 20px;
}

.title {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 34px;
  line-height: 120%;
  display: flex;
  align-items: flex-end;
  color: #ffffff;
}

.pBlackBox {
  width: 885px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 17px;
  line-height: 180%;
  color: #ffffff;
  opacity: 0.9;
}

.pWhiteBox {
  width: 885px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 17px;
  line-height: 180%;
  color: #0e1220;
  opacity: 0.9;
}

.textRedBox {
  width: 521px;
  height: 82px;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 34px;
  line-height: 120%;
  display: flex;
  align-items: flex-end;
  text-align: center;
  color: #ffffff;
}

.whiteBtn {
  justify-content: center;
  align-items: center;
  padding: 8px 16px;
  gap: 10px;
  width: 126px;
  height: 45px;
  background: #ffffff;
  border-radius: 6px;
  font-size: 16px;
  line-height: 180%;
  color: #282829;
}

.whiteBtn:hover {
  color: #282829;
}

.aCenter {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 17px;
  line-height: 180%;
  margin: 0 auto;
  color: #000000;
  margin-bottom: 16px;
  align-self: center;
}

.center {
  display: flex;
  justify-content: center;
}

.followUsDiv {
  width: 1000px;
  height: 93px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  font-size: 17px;
  line-height: 180%;
  text-align: center;
  color: #151516;
  margin-top: 26px !important;
  margin-bottom: 36px !important;
}

.mediaBtn {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 10px;
  gap: 12px;

  width: 312px;
  height: 46px;

  background: #ffffff;
  border: 1px solid #ebecef;
  border-radius: 10px;
}

.opilous_hero_area.paviaBg {
  padding-bottom: 0px;
}

.deskOnly {
  display: inline-flex;
}

.mobOnly {
  display: none;
}

ul.community_links li a img {
  height: 25px;
  margin: 0;
}
ul.community_links li a {
  flex-direction: row;
  gap: 12px;
  align-items: center;
  border-radius: 10px;
  padding: 10px;
  min-height: 46px;
}

ul.community_links li {
  width: 312px;
  padding: 0 12px;
}

.imgMargin {
  padding: 0;
  margin-bottom: -37px;
  margin-top: -15px;
}
.videoBox {
  width: 1000px;
  height: 538px;
}

.aSkale {
  margin-top: 10px;
  display: flex;
  align-self: flex-end;
  justify-content: flex-end;
}

/* .padding{
    padding: 0px;
}
   */

@media only screen and (max-width: 768px) {
  .headerContainer {
    position: relative;
    top: 300px;
    align-self: center;
    width: 100vw;
    margin: 0 auto;
  }
  .divContainer {
    width: 90vw;
  }
  .mobOnly {
    display: block;
  }

  .deskOnly {
    display: none;
  }
  .mainImgHeader {
    width: 216px;
    height: 196px;
    margin: 0 auto !important;
    margin-bottom: 5px;
  }
  .mainTitle {
    text-align: center;
    width: 90vw;
    margin: 0 auto;
    font-size: 28px;
    line-height: 120%;
  }
  .secondTitle {
    font-size: 18px;
    text-align: center;
    margin: 0 auto;
  }
  .overviewContainer {
    flex-direction: column-reverse;
    width: 90vw;
    padding: 0px;
    height: auto;
    margin-top: 20px;
  }
  .projectOverview {
    padding: 24px 30px 36px;
    height: auto;
    width: 90vw;
    border-radius: 0px 0px 20px 20px;
  }
  .overviewImg {
    height: 365px;
    width: 90vw;
    border-radius: 20px 20px 0px 0px;
    margin-top: -125px;
    background-image: url("/assets/img/skale case study/mobile/overwiev mob.png");
    justify-content: center;
    align-items: center;
  }
  .playBtn {
    position: relative;
    display: flex;
    margin: 0 auto;
  }

  .blackBox {
    padding: 40px 30px;
    gap: 20px;
    width: 90vw;
    height: auto;
  }
  .whiteBox {
    padding: 40px 30px;
    gap: 20px;
    width: 90vw;
    height: auto !important;
  }
  .redBox {
    padding: 33px 30px;
    gap: 24px;
    width: 90vw;
    height: auto;
  }
  .pBlackBox {
    width: 80vw;
  }
  .pWhiteBox {
    width: 80vw;
  }
  .textRedBox {
    width: 283px;
    height: auto;
  }
  .aCenter {
    margin-top: 0px;
  }
  .followUsDiv {
    width: 90vw;
    height: auto;
    margin: 0 auto;
    margin-top: 36px !important;
  }

  ul.community_links li a img {
    height: 20px;
    margin: 0;
  }
  ul.community_links li a {
    font-size: 15px;
    flex-direction: row;
    gap: 12px;
    align-items: center;
    border-radius: 10px;
    padding: 10px;
    height: 46px !important;
    max-width: 164.5px !important;
  }

  ul.community_links li {
    max-width: 164.5px !important;
    padding: 0 7px;
  }
  .content_boxes {
    margin: 0 !important;
    padding: 0 !important;
  }
  .fontSize {
    font-size: 28px;
  }

  .logoImg {
    width: 130px;
    height: 33.12px;
  }
  .videoBox {
    left: 0;
    width: 100vw;
    height: 220px;
  }

  .marginTopSkale {
    margin-top: 0px;
  }
  .aSkale {
    font-size: 12px;
  }
}
