@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,500;1,100;1,200&family=Shadows+Into+Light&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter&family=Poppins:ital,wght@0,100;0,500;1,100;1,200&family=Shadows+Into+Light&display=swap');

.container {
    max-width: 1024px;
}

#header{
    background-color: transparent;
    color: #0E1220;
}

.homePage .nav-link, .teamPage .nav-link{
    color: #0E1220;
}

.WraperBlack{
    background-image: url("/assets/img/events/bg.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    width: 100vw;
    height: 500px;
    top: 0px;
    position: relative;
    
}

.wraper{
    position: relative;
    margin: 0 auto;
    max-width: 1024px; 
    padding-top: 70px;
    padding-left: 1%;
}

.centerDiv{
    display: flex;
    flex-direction: column;
    justify-content: center;
    overflow: hidden;
    align-items: flex-start;
}

.padding{
    padding: 5%;
}

.title{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 46px;
    line-height: 120%;
    color: #0E1220;
    text-align: left;
    width: 500px;
}

.aboutBtn{
    padding: 0px;
    width: max-content;
    height: 17px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 119%;
    display: flex;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #E22440;
    border: none;
    cursor: pointer;
    align-self: left;
    background: none;
    margin-bottom: 20px;
}

.content{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 17px;
    line-height: 180%;
    text-align: left;
    color: #0E1220;
    margin-top: 2%;
    width: 467px;
}


.wraperBody{
    margin: 0 auto;
    max-width: 1024px; 
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding-top: 30px;
    
}

.titleBody{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 34px;
    line-height: 120%;
    display: flex;
    align-self: center;
    text-align: center;
    color: #0E1220;

}

.imgSize{
    height: 119px;
    width: 119px;
    margin: 20px;

}

.conferenceInfoBox{
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    padding: 60px 32px 36px 40px;
    gap: 24px;
    width: 403px;
    height: 524px;
    background: #FFFFFF;
    border: 1px solid #EBECEF;
    border-radius: 20px;
}

.amaBox{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 50px 40px;
    gap: 40px;
    width: 1000px;
    height: 400px;
    background: #1B1B1D;;
    border-radius: 20px;
  }

.infoEpisode{
    width: 450px;
    height: inherit;
    gap: 0px;
    padding: 30px;
    /* padding-left: 20px; */
    padding-right: 0px;
}

.conferenceInfoImg{
    width: 573px;
    height: 524px;
    border-radius: 20px;
}

.watchNowbtn{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 17px;
    color: #FFFFFF;
    
}

.contentBody{
    margin-top: 2%;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 17px;
    line-height: 180%;
    text-align: center;
    color: #0E1220;
    opacity: 0.9;
    align-items: center;
}


.box{
    padding: 32px 32px 24px;
    width: 488px;
    height: 407px;
    background: #FFFFFF;
    border: 1px solid #EBECEF;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
}

.alignLeft{
    text-align: left;
}

.marginButtom{
    margin-bottom: 5px;
}

.marginLeft{
    margin-left: 25px;
}

.logoBox{
    width: 110px;
    height: 100px;
    padding: 10px;
    margin: 1%;
}

.boxTitle{
    width: 424px;
    height: 29px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 160%;
    /* margin: 2%; */
    margin-left: 0px;
}

.btnMore{
    margin-top: 15%;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 17px;
    line-height: 150%;
    display: flex;
    text-align: right;
    color: #282829;
    background: none;
    border: none;
    margin-left: 80%;
    width: max-content;
    text-decoration: none;
}

.btnMore:hover{
    color: #e22440;
    border: none;
    background: none;
    text-decoration: none;
}

.boxes{
    margin-top: 5%;
    display: flex;
    flex-direction: row;
    /* justify-content: space-between; */
    flex-wrap: wrap;
    gap: 20px 20px;
}

.btn{
    border: none;
    background: none;
    text-decoration: none;
    align-self: center;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 17px;
    line-height: 150%;
    padding: 2%;

}

.btn:focus { outline: none !important; box-shadow: none !important; }

.btn:hover{
    color: #e22440;
    border: none;
    background: none;
    text-decoration: none;
}

.marginTop{
    margin-top: 30px;
}

.img{
    width: 90;
}

.redLabel{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 180%;
    text-transform: uppercase;
    color: #E22440;
}

.blackLabel{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 180%;
    /* text-transform: uppercase; */
    color: #0E1220;
}
.greyLabel{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 18.1485px;
    line-height: 26px;  
    color: #E1E1E9;
}

.whiteLabel{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 180%;
    /* text-transform: uppercase; */
    color: #FFFFFF;;
}

.whiteLabelBig{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 34px;
    line-height: 120%;
    display: flex;
    align-items: flex-end;
    color: #FFFFFF;
}

.whiteLabelBigNames{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 34px;
    line-height: 120%;
    display: flex;
    align-items: flex-end;
    color: #FFFFFF;
}


.flexColumn{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-content: space-between;
    gap: 20px;
}

.flexRow{
    display: flex;
    flex-direction: row;
    align-items: center;
}


.featuredVideoImg{
    width: 488px;
    height: 368px;
    border-radius: 25px;
}

.featuredVideoImg:hover{
    transition: all 0.5s ease;
    height: calc(100% + 3px) !important;
    /* filter: blur(81.909px); */
    backdrop-filter: blur(34.4018px);
    opacity: 0.8;
}


.achievementBox{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 12px 0px;
    gap: 5px;
    width: 237.75px;
    height: 122px;
    background: #FFFFFF;
    border: 1px solid #EBECEF;
    border-radius: 20px;
    margin: 10px;
}

.achievementContent{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 160%;
    margin-top: 10px;
}

.timelineDiv{
    display: flex;
    flex-direction: row;
    justify-content: left;
    width: 1000px;
    align-items: center;
}

.yearLabel{ 
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 160%;
    margin: 5px;
    width: max-content;
}

.years{
    margin-left: 10px;
}

.greyTitle{
    color: #0E1220;
    opacity: 0.6;
    background-color: none;
    border: none;
    background: none;
    align-self: center;
    padding: 10px 20px 10px 20px;
    width: max-content;
    height: max-content;

}

.chosenYear{
    color: #FFFFFF;
    background-color: #1E2129;
    border: 1px solid #EBECEF;
    border-radius: 50px;
    opacity: 1;
    padding: 10px 20px 10px 20px;
    width: max-content;
    height: max-content;
}

.paddingBox{
    height: 464px;
    padding: 32px 10px 10px 32px;
}

.paddingBox2021{
    height: 500px;
    padding: 32px 10px 10px 32px;
}

.smallpaddingBox2021{
    height: 292px;
}

.boxHeight{
    height: 257px;
    margin-left: 20px;
}

.boxHeight2{
    height: 183px;
    margin-left: 20px;
}

.spaceBetween{
    justify-content: space-between;
}

.mobile-Only{
    display: none;
}

.desk-Only{
    visibility: visible;
}

.timelineLogo{
    width: 20%;
    height: auto;
    margin: 5px;
    align-self: center;
}


.timeLineRow{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
}
.check{
    align-self: flex-start;
    margin-top: 5px;
}

.plus{
    display: flex;
    align-items: center;
    color: rgb(28, 30, 36);
    font-size: 24px;
    font-weight: 600;
    padding-top: 5px;
    margin-top: -4px;
}

.TitelWidth{
    width: 420px;
}

.amaFuseImg{
    height: 400px; 
    /* border-radius:25px ; */
}

.fuseMob{
    gap: 0px 20px;
}

.emailBox{
    box-sizing: border-box;
display: flex;
flex-direction: row;
justify-content: space-between;
align-items: center;
padding: 6px 6px 6px 16px;
gap: 10px;

width: 338px;
height: 43px;

background: #F7F7F9;
border: 1px solid #D4D7E1;
border-radius: 6px;
margin-top: 22px;
}

.emailBox:hover{
    background-color: #FFFFFF;
    border-color: #10C584;
}

.emailBox:focus{
    outline: none !important;
    background-color: #FFFFFF;
    border-color: 2px solid #10C584 !important;
}

.subscribeSuccess{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 6px 6px 6px 12px;
    gap: 10px;
    width: 338px;
    height: 41px;
    background: #10C584;
    border-radius: 6px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 180%;
    color: #FFFFFF;
    margin-top: 15px;

}

.closeBtn{
    border: none;
    background: none;
}

.subscribeBtn{
    justify-content: center;
    align-items: center;
    padding: 4px 14px;
    gap: 10px;

    width: 101px;
    height: 31px;

    background: #E22440;
    border-radius: 6px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 150%;
    color: #FFFFFF;
    border: none;
    position: relative;
    top: -37px;
    left: 230px;
}

.imgHeader{
    width: 488px;
    height: 462px;
}

.networkingBtn{
    justify-content: center;
    align-items: center;
    padding: 0px 20px;
    gap: 10px;
    width: auto;
    height: 42px;
    background: #FFFFFF;
    border: 1px solid #D4D7E1;
    border-radius: 50px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 120%;
}

.networkingBtn:hover{
    background: #1E2129;
    color: #FFFFFF;
}


.networkingBtnSelected{
    justify-content: center;
    align-items: center;
    padding: 0px 20px;
    gap: 10px;
    width: auto;
    height: 42px;
    background: #1E2129;
    border: 1px solid #1E2129;
    border-radius: 50px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 120%;
    color: #FFFFFF;
}

.upcomingBox{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 20px;
    gap: 32px;

    width: 1000px;
    height: 180px;

    border: 1px solid #D4D7E1;
    filter: drop-shadow(0px 4px 14px rgba(0, 0, 0, 0.01));
    border-radius: 10px;
    cursor: pointer;
}

.upcomingBox label{
    cursor: pointer;
}


.upcomingBox:hover{
    background-color: #FFFFFF;
}

.upcomingDivImg{
    box-sizing: border-box;
    width: 248.89px;
    height: 140px;
    border-radius: 10px;
    overflow: hidden;
}
.upcomingDivImg{
    box-sizing: border-box;
    width: 248.89px;
    height: 140px;
    border-radius: 10px;
    overflow: hidden;
}
.upcomingImg{
    box-sizing: border-box;
    width: 248.89px;
    height: 140px;
    border-radius: 10px;
}

.upcomingBox:hover .upcomingImg{
    box-sizing: border-box;
    width: 248.89px;
    height: 140px;
    transition: all .3s ease-in-out;
    transform: scale(1.05);
    overflow: hidden !important;
}

.upcomingDateText{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 17px;
    line-height: 180%;
}

.upcomingNameText{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 160%;
}

.upcomingPlaceText{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 17px;
    line-height: 180%;
}

.lineUpcoming{
    display: flex;
    flex-direction: row;
    gap: 12px;
    align-items: center;
}

.webcast{
    justify-content: center;
    align-items: center;
    padding: 4px 8px 4px 6px;
    gap: 6px;
    background: rgba(212, 215, 225, 0.3);
    border-radius: 4px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 17px;
    line-height: 180%;
    margin-right: 10px;
}

.MediaSection{
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.mediaBox{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 20px 20px 32px;
    gap: 24.34px;
    width: 491.56px;
    height: 453.34px;
    border: 1px solid #D4D7E1;
    filter: drop-shadow(0px 6.08616px 21.3016px rgba(0, 0, 0, 0.01));
    border-radius: 10px;
}

.mediaBox label{
    cursor: pointer;
}

.mediaImg{
    width: 451.56px;
    height: 254px;
    background-position: center;
    background-size: cover;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}
/* 
.imgMedia1{    
    background-image: url("/assets/img/events/media/desk/MAPPING contracts 4.png");
}
.imgMedia2{    
    background-image: url("/assets/img/events/media/desk/who needs bridge.png");
}
.imgMedia3{    
    background-image: url("/assets/img/events/media/desk/how to use widget.png");
}
.imgMedia4{    
    background-image: url("/assets/img/events/media/desk/how to use xp js.png");
}
.imgMedia5{    
    background-image: url("/assets/img/events/media/desk/AMA FCA.png");
}
.imgMedia6{    
    background-image: url("/assets/img/events/media/desk/how to use bridge.png");
}
.imgMedia7{    
    background-image: url("/assets/img/events/media/desk/AMA fuse.png");
}
.imgMedia8{    
    background-image: url("/assets/img/events/media/desk/AskNir.png");
}
.imgMedia9{    
    background-image: url("/assets/img/events/media/desk/evm.png");
}
.imgMedia10{    
    background-image: url("/assets/img/events/media/desk/bridge\ security.png");
}
.imgMedia11{    
    background-image: url("/assets/img/events/media/desk/bridge\ attacks\ desk.png");
}
.imgMedia12{    
    background-image: url("/assets/img/events/media/desk/XP\ Talks\ with\ Thunder\ Lands\ desk.png");
} */


.playBtnImg{
    width: 58.52px;
    height: 59px;
}

.mediaImg:hover .playBtnImg{
    transition: all .2s ease-in-out;
    transform: scale(1.2);
}
    
.failedEmail{
    border: 1px solid #E22440;
}

.teamPage ul.social-links li a img, .homePage ul.social-links li a img {
   filter: brightness(0);
}

.networkingdiv{
    gap: 6px;
    margin: 42px 0px 42px;
}

.subscribeDiv{
    display: flex;
}
@media only screen and (max-width: 768px) {
    .wraper{
        padding-left: 0%;
    }
    .wraperBody{
        width: 90vw;
        margin: 0 auto;
        align-self: center;
        justify-items: center;
        padding: 0;
    }
    .mobColumn{
        display: flex;
        flex-direction: column;
    }
    .flexRow {
        justify-content: center;
        align-self: flex-start;
    }
    .flexColumn{
        /* justify-content: left;
        align-content: flex-start; */
    }

    .WraperBlack{
        /* background-image: url("/assets/img/events/bg\ mob/"); */
        background-size: cover;
        background-repeat: no-repeat;
        background-position: 50% 50%;
        height: auto;
    }
    .centerDiv{
        align-items: center;
        width: 100%;
        left: 0;
        flex-direction: column; 
        padding: 5%;
    }
    .connectBtn{
        margin-bottom: 70px;
        text-align: center;
    }

    .title{
        width: max-content;
        align-self: center;
        font-size: 28px;
        height: 0px;
    }

    .content{
        display: flex;
        margin-top: 70px;
        flex-wrap: wrap;
        width: 100vw;
    }

    .aboutBtn{
        margin-top: 20px;
        align-self: center;
    }
    .titleBody{
        padding: 0px;
        align-self: center;
        text-align: center;
    }
    
    .content{
        width: 95vw;
        text-align: center;
        align-self: center;
    }
    .displayNoneMob{
        display: none;
    }
    
    .teamMobileRow{
        flex-direction: row;
        flex-wrap: nowrap;
        width: 100%;
    }
    .mobile-Only{
        display: block;
    }
    .desk-Only{
        display: none;
    }
    .btnMore{
        margin-left: 60%;
    }
   
    .marginTop{
        margin-top: 15px;
    }
   
    .marginTopMob{
        margin-top: 0px;
    }
    .amaBox{
        height: auto;
        width: 90vw;
        flex-direction: column;
        padding: 0px;
        gap: 0px;
        justify-items: left;
        justify-content: left;

    }
    .whiteLabelBigNames{
        font-size: 22px;
    }
    .imgSize{
        width: 70px;
        height: 70px;
        margin: 5px;
        margin-right: 20px;
    }
    
    .greyLabel{
        font-size: 16px;
    }
    .amaFuseImg{
        height: 295px; 
        margin: 0 auto;
        width: 100%;
        left: 0px;
        /* border-radius:25px ; */
        padding: 0px 0px;
        margin-bottom: 0px;
    }

    .paddingMob{
        padding: 20px;
    }
    .featuredVideoImg{
        width: 100%;
        height: auto;
        margin: 0px;
        padding: 10px;
    }    
    .conferenceInfoBox{
        width: 100%;
        height: auto;
    }
    .conferenceInfoImg{
        width: 100%;
        height: auto;
    }

    .conferenceInfoImgMobile{
        width: 100%;
        height: auto;
        border-radius: 20px;
    }
    .alignLeftMob{
        align-self: flex-start;
        padding: 20px;
    }
    .infoEpisode{
        width: auto;
        height: auto;
        gap: 20px;
        padding: 30px;
        /* padding-left: 20px; */
        padding-right: 0px;
    }
    .fuseMob{
        flex-direction: column;
        gap: 10px 0px;
        align-items: flex-start;

    }
    .imgHeader{
        width: 343.34px;
        height: 325.05px;
    }
    .mobieColumn{
        flex-direction: column;
    }
    .upcomingBox{
        flex-direction: column;
        width: 342.81px;
        height: auto;
        align-self: center;
    }
    .mediaBox{
        height: auto;
        width: 90vw;
        align-self: center;
    }
    .networkingBtn{
        font-size: 13.9326px;
        line-height: 120%;
        width: auto;
    }
    .networkingBtnSelected{
        font-size: 13.9326px;
        line-height: 120%;
        width: auto;
    }
    .titleBody{
        font-size: 27.8653px;
    }
    .upcomingImg{
        width: 301.54px;
        height: 169.62px;
        align-self: center;        
    }
    .upcomingBox:hover .upcomingImg{
        width: 301.54px;
        height: 169.62px;
        align-self: center;  
    }
    
    .upcomingDivImg{
        width: 301.54px;
        height: 169.62px;
        align-self: center;  
    }
    .mediaImg{
        width: 304.35px;
        height: 171.2px;
        align-self: center;    
    }

    .playBtnImg{
        position: absolute;
        top: 70px;
        left: 130px;
    }
    .mediaImg{
        width: 304.35px;
        height: 171.2px;
        align-self: center;
    }
    /* .imgMedia1{
        background-image: url("/assets/img/events/media/mob/MAPPING contracts 4.png");
    }
    .imgMedia2{    
        background-image: url("/assets/img/events/media/mob/who needs bridge.png");
    }
    .imgMedia3{    
        background-image: url("/assets/img/events/media/mob/how to use widget.png");
    }
    .imgMedia4{    
        background-image: url("/assets/img/events/media/mob/how to use xp js.png");
    }
    .imgMedia5{    
        background-image: url("/assets/img/events/media/mob/AMA FCA.png");
    }
    .imgMedia6{    
        background-image: url("/assets/img/events/media/mob/how to use bridge.png");
    }
    .imgMedia7{    
        background-image: url("/assets/img/events/media/mob/AMA fuse.png");
    }
    .imgMedia8{    
        background-image: url("/assets/img/events/media/mob/AskNir.png");
    }
    .imgMedia9{    
        background-image: url("/assets/img/events/media/mob/evm.png");
    }
    .imgMedia10{    
        background-image: url("/assets/img/events/media/mob/bridge\ security.png");
    }
    .imgMedia11{    
        background-image: url("/assets/img/events/media/mob/bridge\ attacks\ mob.png");
    } */

    .mediaImg:hover .playBtnImg{
        transform: scale(1);
    }
    .emailBox{
        align-self: center !important;
    }

    .networkingdiv{
        width: 342.81px;
        align-self: center;
        gap: 2px;
        margin: 20px 0px 20px;
    }
    .teamPage .navTriger {
        filter: brightness(0);
    }
}

a{
    color: #0E1220;
    text-decoration: none;
    cursor: pointer;
}

a:hover{
    color: #0E1220;
}